<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
		<title>m3u8下载器</title>
		<script type="module" crossorigin src="/assets/index-nTfTPwyq.js"></script>
		<link rel="stylesheet" crossorigin href="/assets/index-6j2T5vlN.css">
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>